body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Source Sans Pro';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}
.header-main {
  margin: 50px 0;
  padding: 0 $layoutpadding;
  &:after {
  content: "";
  display: table;
  clear: both;
  }

  @include mq(medium) {
    padding: 0 $layoutpadding-small;
  }

}
.header-main-logo {
  float: left;
  img {
    max-width: 150px;
  }
}
.col-wrap {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}
.title {
  font-size: 80px;
  text-decoration: underline;
  word-spacing: -0.1em;
  letter-spacing: -0.01em;
  line-height: 1.1;
  margin: 1em 0;
  padding: 0 $layoutpadding;

  @include mq(medium) {
    padding: 0 $layoutpadding-small;
    font-size: 48px;
  }
  @include mq(small) {
    font-size: 42px;
  }
}
.title-sub {
  font-size: 48px;
  font-weight: 300;
  margin: 1em 0;
  font-family: 'Source Sans Pro';
  margin: 1em 0;
  padding: 0 $layoutpadding;
  @include mq(small) {
  }
  @include mq(medium) {
    padding: 0 $layoutpadding-small;
    font-size: 32px;
    margin-bottom: 0;
  }

}

.content {
  clear: both;
}
.text-large {
  font-size: 2vw;
  font-weight: 300;

  @include mq(medium) {
    font-size: 18px;
  }

}
// Sections
section {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
  .col2 {
    width: 45%;
    float: left;
    &:nth-of-type(odd) {
      margin-right: 5%;
    }

    @include mq(medium) {
      width: 100%;
      float: none;
      &:nth-of-type(odd) {
        margin-right: 0;
      }
    }

  }
  .col3 {
    background-color: lighten($grey, 70%);
    width: 32%;
    float: left;
    min-height: 600px;
    margin: 2em 0 1em;
    box-sizing: border-box;
    @include mq(large) {
      width: 100%;
      float: none;
      margin: 0 auto;
    }
    @include mq(medium) {
      width: 75%;
      float: none;
      min-height: none;
      margin: 1em auto;
    }

    &:nth-of-type(2) {
      margin-left: 2%;
      margin-right: 2%;
      @include mq(large) {
        margin-left: auto;
        margin-right: auto;
      }
      @include mq(medium) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include mq(small) {
      width: 100%;
    }

    h1 {
      background-color: $grey;
      color: white;
      font-size: 20px;
      font-family: "Source Sans Pro";
      text-transform: uppercase;
      text-align: center;
    }
    h1, ul, p {
      padding: 20px;

    }

  }
  p {
    margin: 0 0 1em;
  }
  h2 {
    font-size: 36px;
    font-family: "Source Sans Pro";
    font-weight: 300;
    margin: 1.5em 0;
  }
  h3 {
    font-size: 36px;
    font-family: "Source Sans Pro";
    font-weight: 700;
    color: $red;
    margin: 2em 0 1em;
    border-bottom: 1px solid $red;
  }
}

.section-about {
  background-image: -webkit-linear-gradient(88deg, $red 90%, #fff 90%);
  min-height: 250px;
  padding: $layoutpadding;
  color: white;

  @include mq(medium) {
    padding: 100px $layoutpadding-small;

  }
  @include mq(small) {
      padding: 100px $layoutpadding-small 50px;
  }
}
.section-services {
  background-image: -webkit-linear-gradient(90.5deg, #fff 99%, $red 99%);
  min-height: 800px;
  padding: $layoutpadding;
  @include mq(medium) {
    padding: 100px $layoutpadding-small;
  }
  @include mq(small) {
      padding: 10px $layoutpadding-small 50px;
  }
  .section-header {
    color: $red;
  }
}
.section-contact {
  background-image: -webkit-linear-gradient(88deg, $grey 90%, #fff 90%);
  min-height: 100px;
  padding: $layoutpadding;
  color: white;
  @include mq(medium) {
    padding: 100px $layoutpadding-small;
  }
  @include mq(small) {
      padding: 10px $layoutpadding-small 50px;
  }
  p {
    span {
      display: inline-block;
      margin-right: .5em;
    }
  }
  a:link, a:visited {
  }
  a:hover, a:active {
    color: lighten($red, 20%)

  }
}
.footer {
  background-image: -webkit-linear-gradient(90.5deg, #fff 95%, $grey 95%);
  padding: 75px $layoutpadding;
  @include mq(medium) {
    padding: $layoutpadding-small;
  }

}
.section-header {
  font-size: 56px;
  margin-bottom: 1em;
  @include mq(small) {
    margin-top: $layoutpadding;
  }
  @include mq(medium) {
    font-size: 36px;
  }

}

// LISTS
.service-list {
  margin: 1em 0;

  li {
    padding-left: 1.5em;
    position: relative;
    margin-bottom: .5em;

    &:before {
      content: "•";
      color: $red;
      position: absolute;
      left: .5em;
    }
  }
}

// NAV
.nav-main {
  float: right;
  margin-top: 25px;
  @include mq(medium) {
    float: none;
    clear: both;
  }

}
.nav-main-list-item {
  display: inline-block;
  margin-left: 1.5em;

  @include mq(medium) {
    margin: 50px 1.5em 0 0;
  }


  a:link, a:visited {
    color: $red;
  }
  a:hover, a:active {
    color: lighten($red, 15%);
    text-decoration: underline;
  }
}
